:root {
  --width: 20px;
}

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.row {
  display: flex;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--width);
  height: var(--width);
  background-image: url(./images/blank.gif);
  background-size: cover;
}

.mine {
  background-image: url(./images/mine.gif);
  background-size: cover;
}

.click-mine {
  background-image: url(./images/blood.gif);
  background-size: cover;
}

.empty {
  background-image: url(./images/0.gif);
  background-size: cover;
}

.flag {
  background-image: url(./images/flag.gif);
  background-size: cover;
}
