* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.row {
  display: flex;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  background-color: lightblue;
  color: green;
}

.mine {
  background-color: lightcoral;
}

.empty {
  background-color: aliceblue;
}